p{
  margin: 0.2em;
  font-weight: 300;
  color: #333;
  /* background-color: red; */
  line-height: 1.3em;
}

body{
  margin: 0px;
  font-family:sans-serif;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 10vw;
  background-color: rgb(242, 248, 248);
}

header, 
main,
footer {
  width: 70%;
}

nav a{
  text-decoration: none;
  color: mediumseagreen;
}

body > header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

body  nav{
  width: 100%;
}

nav > ul{
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: flex-end;
}

mark{
  background-color: rgb(195, 237, 214);
}

section figure{
  margin: 0px 0px 30px 0px;
  width: 70%;
  border: 0.5px solid #999;
}

figure img{
  width: 100%; 
  height: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

figure figcaption{
  color: #444;
  font-size: 0.9em;
  text-align: center;
}

details{
  padding: 10px;
  border: 1px solid #666;
  border-radius: 5px;
  background-color: whitesmoke;
  margin-bottom: 20px;
}

aside{
  padding: 10px 10px;
  background-color: rgb(184, 237, 208);
  border-radius: 5px;
  border-left: 8px solid darkgreen;
}