p{
  margin: 0em;
  font-weight: 300;
  color: #333;
  line-height: 1.4em;
}

body{
  font-family:sans-serif;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 5vh 10vw;
  background-color: rgb(242, 248, 248);
}

body > header p {
  font-weight: 600;
}

article h2, article h3{
  margin:10px 0px 15px 0px;
}

header, 
main,
footer {
  width: 70%;
}

nav a{
  text-decoration: none;
  color: mediumseagreen;
}

body > header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

body  nav{
  width: 100%;
}

article {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

nav > ul{
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: flex-end;
}

mark{
  background-color: rgb(195, 237, 214);
}

section figure{
  margin: 15px 0px 30px 0px;
  width: 70%;
  border: 0.5px solid #999;
}

figure img{
  width: 100%; 
  height: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

figure figcaption{
  color: #444;
  font-size: 0.9em;
  text-align: center;
}

details{
  padding: 10px;
  border: 1px solid #666;
  border-radius: 5px;
  background-color: whitesmoke;
  margin-bottom: 20px;
}

aside{
  padding: 10px 10px;
  background-color: rgb(188, 236, 210);
  border-radius: 5px;
  border-left: 8px solid darkgreen;
  margin-bottom: 20px;
}

footer{
  box-sizing: border-box;
  border-top: 1px solid #aaa;
  padding: 20px;
  /* background-color: red; */
  /* position: relative; */

}

article > footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

footer > dialog{
  background-color: rgb(15, 164, 15);
  border-radius: 5px;
  position: fixed;
  bottom: 10px;
  left:auto;
}